<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Admin Area</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <div class="body"></div>
	<div class="grad"></div>
	<div class="header">
		<div>Coworky</div>
	</div>
	<br>
	<div class="login">
		<input type="text" placeholder="username" name="user" id="user"><br>
		<input type="password" placeholder="password" name="password" id="password"><br>
		<input type="button" value="Login"  (click)="login()" >
	</div>
</body>
</html>


